@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

* {
    padding: 0;
    margin: 0;
}

.body {
    background: url("../img/bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox {
    position: absolute;
    top: 9px;
    right: 135px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox {
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board {
    background: linear-gradient(rgb(98, 240, 98), rgb(12, 185, 216));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid rgb(238, 67, 67);
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head {
    background: linear-gradient(rgb(0, 255, 0), rgb(20, 7, 206));
    border: 2px solid rgb(34, 4, 34);
    transform: scale(1.02);
    border-radius: 9px;
}

.snake {
    background-color: rgb(12, 84, 219);
    border: .25vmin solid white;
    border-radius: 12px;
}

.food {
    background: linear-gradient(rgb(185, 47, 47), rgb(36, 128, 0));
    border: .25vmin solid rgb(231, 0, 0);
    border-radius: 8px;
}